%tr
  %td.item-data
    -# binding.pry
    - unless item.title.nil?
      %p.lead
        = item.title
      %p.extra{:style => 'margin-top: .5em;'}
        %span
          - if test_doi?(item.doi)
            %b{:style => 'color: rgb(207, 121, 121);'} Example Item
          - else
            %b= item.type
          published
          %b
            - unless item.day.nil?
              = item.day
            - unless item.month.nil?
              = item.month
            - unless item.year.nil?
              = item.year
        - unless item.publication.nil?
          %span
            in
            %b= item.publication
        - unless item.volume.nil?
          %span
            volume
            %b= item.volume
        - unless item.issue.nil?
          %span
            issue
            %b= item.issue
        - if !item.first_page.nil? && !item.last_page.nil?
          %span
            on pages
            %b= item.first_page
            to
            %b= item.last_page
        - elsif !item.first_page.nil?
          %span
            on page
            %b= item.first_page
    - unless item.grant_info.nil?
      %p.extra
        %span Research funded by
        %span= item.grant_info.join('  |  ')

    - unless item.authors.nil?
      %p.expand= "Authors: #{item.authors.first}"

    - unless item.editors.nil?
      %p.expand= "Editors: #{item.editors.first}"

    - unless item.chairs.nil?
      %p.expand= "Chairs: #{item.chairs.first}"

    - unless item.translators.nil?
      %p.expand= "Translated: #{item.translators.first}"

    - unless item.contributors.nil?
      %p.expand= "Contributors: #{item.contributors.first}"

    - unless item.supplementary_ids.nil? || item.type != 'standard'
      %p.expand= "Other IDs: #{item.supplementary_ids.join(', ')}"

    = partial :item_links, :item => item
